.todo-search {

    padding: 4px;

    text-align: center;
    
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-search::placeholder {

    font-family: "Inter";
    text-align: center;
    
    user-select: none;
}